body {
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
    font-family: 'Ubuntu', sans-serif;
    background-size: cover;
    background-color: #3564AE;
    background-repeat: no-repeat;
}
h1, h2 {
    text-align: center;
    color: #ffcb05;
}
p {
    font-size: 15px;
    color: #ffd633;
}
.leftContent {
    border-radius: 10px;
    float: left;
    width: calc(50% - 5px);
}
.rightContent {
    border-radius: 10px;
    float: right;
    width: calc(50% - 5px);
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.contentBox {
    border-radius: 10px;
    background-color: #4f7ec9;
}
.content {
    padding: 10px;
}
.button {
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #769bd5;
}
.infoBox {
    margin: auto;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    background-color: #769bd5;
}
.highlight {
    color: #ffe066;
}